@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba (0, 0, 0, 0);
}

html,
body,
section,
div,
header,
footer,
main,
aside,
nav,
blockquote,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img,
svg {
  vertical-align: middle;
}

body {
  font-size: 16px;
  color: #535656;
}

.container {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 768px;
  }
}

@media (min-width: 1296px) {
  .container {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1296px;
  }
}

.container-gray100 {
  margin: 0 auto;
  background-color: var(--color-gray100);
}

@media (min-width: 768px) {
  .container-gray100 {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 768px;
  }
}

@media (min-width: 1296px) {
  .container-gray100 {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1296px;
  }
}
