.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding-block: 1rem;
  padding-inline: 1rem;
  gap: 1rem;
}

.navbarbg {
  background-color: transparent;
}

.navbarbg-contact {
  background-color: var(--color-secondarybg);
}

.navbar2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-block: 1rem;
  gap: 1rem;
  font-size: 16px;

  @media (min-width: 768px) {
    justify-content: flex-start;
    font-size: 14px;
}
}

.features-link {
  color: var(--color-text700-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.features-menu {
  display: none;
}

@media (min-width: 1296px) {
  .features-menu {
    display: block;
  }
}

@media (min-width: 1296px) {
  .main-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-block: 2rem;
    padding-inline: 2rem;
    gap: 1rem;
  }
}

@media (min-width: 1296px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-inline: 1.5rem;
    gap: 1rem;
  }
}

.mainlogo {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.mainlogo h2 {
  font-size: 21px;
  color: var(--color-headline);
  margin-right: 3rem;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: left;
    gap: 4rem;
  }
}

@media (min-width: 1296px) {
  .navigation {
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navigation-tablet {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.darkmode {
  display: none;
}

@media (min-width: 768px) {
  .darkmode {
    display: block;
    font-weight: 600;
    color: var(--color-gray700);
  }
}

.text-signin {
  font-size: 14px;
  font-weight: 600;
}

.hamburger-menu {
  position: relative;
  color: var (--color-border);
  text-align: left;
}

.hamburger-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-links {
  position: absolute;
  background-color: var(--color-secondarybg);
  top: 45px;
  right: 0;
  width: 120px;
  padding: .8rem;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-links a {
  display: block;
  color: var(--color-text);
  padding: 8px 0;
  text-decoration: none;
}

@media (min-width: 1296px) {
  .hamburger-icon {
    display: none;
  }
}