html {
  color-scheme: light dark;
}

body {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--color-gray900);
  background-color: var(--color-primarybg);

  display: flex;
  flex-direction: column;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headline);
  font-weight: 800;
  font-style: normal;
}

h1 {
  font-size: 40px;
  line-height: 130%;
}

h2 {
  font-size: 32px;
  line-height: 130%;
}

h3 {
  font-size: 28px;
  line-height: 130%;
}

h4 {
  font-size: 24px;
  line-height: 140%;
}

h5 {
  font-size: 20px;
  line-height: 140%;
}

h6 {
  font-size: 16px;
  line-height: 140%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--color-primary);
}

.underlined-link:hover {
  text-decoration: underline;
}

.background-gradient {
  background: var(--color-Gradient);
}

a.active {
  color: var(--color-primary);
}

.text-left {
  text-align: left;
}

.background-gray100 {
  background-color: var(--color-gray100);
}

.padding-bottom-6 {
  padding-bottom: 6rem;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input[type='text'],
input[type='email'],
textarea {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
